* {
  box-sizing: content-box;
}

body {
  font-family: "Roboto", sans-serif;
}
a:visited,
a:link {
  color: black;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
}
img {
  object-fit: cover;
  height: 15rem;
  width: 10rem;
  border-radius: 30px;
  padding: 1rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(255, 199, 208);
  z-index: 999;
}
.navbar img {
  height: 20px;
  width: auto;
}

.navOpen,
.navOpen a {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
}
.navClosed {
  display: none;
}

.paw {
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.pawOpen {
  transform: rotate(180deg);
}
.pawClosed {
  transform: rotate(0deg);
}

.searchBox {
  right: 20px;
  bottom: 0;
  text-align: left;
  position: fixed;
  z-index: 999;
  background: rgb(255, 199, 208);
  border: black 1px solid;
  border-radius: 5px;
  padding: 0.7rem;
}
.searchBox button {
  margin-top: 1rem;
}
.searchBoxX {
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 0.7rem;
  padding: 0.3rem;
  color: #282c34;
  border-radius: 5px;
  font-weight: bold;
  background: transparent;
  border-color: transparent;
}
.searchBox h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.mainContainer {
  padding-top: 60px;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

.mealContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  transform-origin: center;
  transition: filter 0.7s ease-in-out;
  transition: transform 0.5s ease-in-out;
  background-color: #2be18325;
  padding: 0.6rem 0.3rem;
  margin: 0.3rem;
  border-radius: 5px;
}
.mealContainer > div {
  padding-right: 1rem;
}
.mealContainer:hover {
  transform: scale(1.01);
}

.ingredientBox {
  display: block;
}

#submitButton {
  display: block;
  margin: 1rem;
}
.selected {
  filter: opacity(0.5);
}
.editmode {
  padding: 5rem 2rem;
}
.hide {
  display: none;
}
@media only screen and (min-width: 765px) {
  body {
  }
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  body {
  }
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
